
@{
    Layout = "_LayoutAdmin";
}

<form>
    <div>
        <h1>Agregar Categoría</h1>

        <label>Nombre:</label>
        <input type="text" id="txtNombre" required="required" />

        <div class="botones">
            <p id="error"></p>
            <input type="submit" value="Agregar" id="btnAgregar" />
            <input type="button" value="Cancelar" id="btnCancelar" formnovalidate="formnovalidate" />
        </div>
    </div>
</form>