@model Actividad1_FruitStore.Models.Categorias

@{
    Layout = "_LayoutAdmin";
}

<form method="post" action="~/Categorias/Editar">
    <div>
        <h1>Editar Categoría</h1>

        <input type="hidden" name="Id" value="@Model.Id" />

        <label>Nombre:</label>
        <input type="text" required="required" name="Nombre"  value="@Model.Nombre"/>

        <div class="botones">
            <p id="error">
                @Html.ValidationSummary()
            </p>
            <input type="submit" value="Guardar" id="btnGuardar" />
            <a href="~/Categorias">
                <input type="button" value="Cancelar" id="btnCancelar" formnovalidate="formnovalidate" />
            </a>
        </div>
    </div>
</form>