@{
    Layout = "_Layout";
}

<h1 id="nombreCategoria">C&#237;tricos</h1>


<div class="productos">
    <a href="~/Home/Ver">
        <div>
            <img src="~/img_frutas/23.jpg" />
        </div>
        <h2>Lima</h2>
        <h3>$ 25.90</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="~/img_frutas/23.jpg" />
        </div>
        <h2>Lima</h2>
        <h3>$ 25.90</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="~/img_frutas/23.jpg" />
        </div>
        <h2>Lima</h2>
        <h3>$ 25.90</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="~/img_frutas/23.jpg" />
        </div>
        <h2>Lima</h2>
        <h3>$ 25.90</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="~/img_frutas/23.jpg" />
        </div>
        <h2>Lima</h2>
        <h3>$ 25.90</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="~/img_frutas/23.jpg" />
        </div>
        <h2>Lima</h2>
        <h3>$ 25.90</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="~/img_frutas/23.jpg" />
        </div>
        <h2>Lima</h2>
        <h3>$ 25.90</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="~/img_frutas/23.jpg" />
        </div>
        <h2>Lima</h2>
        <h3>$ 25.90</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="~/img_frutas/23.jpg" />
        </div>
        <h2>Lima</h2>
        <h3>$ 25.90</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="~/img_frutas/23.jpg" />
        </div>
        <h2>Lima</h2>
        <h3>$ 25.90</h3>
    </a>
</div>



