
@{
    Layout = "_Layout";
}

<div class="datosproductos">
    <h1 id="nombre">Lima</h1>

    <img src="~/img_frutas/23.jpg" id="imagen" />
    <p>
        <label>Precio:</label>
        <label id="precio">25.9000</label>
    </p>
    <p>
        <label>Categoria:</label>
        <label id="categoria">C&#237;tricos</label>
    </p>
    <p>
        <label>Unidad de Medida:</label>
        <label id="unidadmedida">Kilo</label>
    </p>
    <p>
        <label>Descripción:</label>
        <label id="descripcion">Es el m&#225;s &#225;cido de todos los c&#237;tricos, de hecho, casi el 8% de su peso es &#225;cido c&#237;trico.</label>
    </p>

    <p style="text-align:center; margin:20px 0">
        <a href="javascript:window.history.back()">Regresar</a>
    </p>

</div>

