@model Actividad1_FruitStore.Models.ViewModels.ProductosViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutAdmin";
}

<form method="post" asp-action="Agregar" asp-controller="Productos" enctype="multipart/form-data">
    <div>
        <h1>Agregar Producto</h1>

        <label>Nombre:</label>
        <input type="text" asp-for="Producto.Nombre" required="required" />

        <label>Categoría:</label>
        <select asp-for="Producto.IdCategoria" asp-items="@(new SelectList(Model.Categorias,"Id","Nombre"))" id="cmbCategoria" required="required">
            <option selected="selected" value="">-- Seleccionar categoria --</option>
        </select>

        <label>Unidad de Medida:</label>
        <input type="text" asp-for="Producto.UnidadMedida" required="required" />

        <label>Precio:</label>
        <input type="number" asp-for="Producto.Precio" required="required" step="0.01" min="0.1" />

        <label>Descripción</label>
        <textarea rows="2" cols="20" asp-for="Producto.Descripcion" required="required">
</textarea>

        <label>Imagen:</label>
        <input type="file" id="fileUpload1" accept="image/jpg" asp-for="Archivo" onchange="mostrarImagen(this)"/>

        <img id="imagePreview" src="~/img_frutas/no-disponible.png" alt="Vista previa de la imagen" />

        <div class="botones">
            <p id="error">
                @Html.ValidationSummary()
            </p>
            <input type="submit" value="Agregar" id="btnAgregar" />
            <a asp-controller="Productos" asp-action="Index">
                <input type="button" value="Cancelar" id="btnCancelar" formnovalidate="formnovalidate" />
            </a>
            
        </div>
    </div>
</form>
<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("imagePreview").src=e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>