@model Actividad1_FruitStore.Models.Productos
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutAdmin";
}

<form method="post" asp-action="Eliminar" asp-controller="Productos">
    <div>
        <h1>Eliminar Producto</h1>

        <input type="hidden" id="id" asp-for="Id"/>

        <p>¿Está seguro de eliminar el producto  "<span id="nombreCategoria">@Model.Nombre</span>"?</p>

        <div class="botones">
            <p id="error"></p>
            <input type="submit" value="Si" id="btnSi" />
            <a asp-action="Index" asp-controller="Productos">
                <input type="button" value="No" id="btnNo" formnovalidate="formnovalidate" />
            </a>
        </div>
    </div>
</form>