@{
    Layout = "_LayoutAdmin";
}

<form>
    <div>
        <h1>Eliminar Producto</h1>

        <input type="hidden" id="id" />

        <p>¿Está seguro de eliminar el producto  "<span id="nombreCategoria">Lima</span>"?</p>

        <div class="botones">
            <p id="error"></p>
            <input type="submit" value="Si" id="btnSi" />
            <input type="button" value="No" id="btnNo" formnovalidate="formnovalidate" />
        </div>
    </div>
</form>