@{
    Layout = "_LayoutAdmin";
}

<h1>Administrar Productos</h1>

<section class="listado">
    <select name="ctl00$ContentMain$ddlCategorias" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;ctl00$ContentMain$ddlCategorias\&#39;,\&#39;\&#39;)&#39;, 0)" id="ddlCategorias" style="width:100%;margin: 10px 0">
        <option selected="selected" value="">Ver todos los productos</option>
        <option value="10">C&#237;tricos</option>
        <option value="1">Frutas</option>
        <option value="7">Hongos</option>
        <option value="3">Hortalizas</option>
        <option value="5">Legumbres</option>
        <option value="9">Temporada</option>
        <option value="2">Verduras</option>

    </select>

    <a id="lnkNueva" class="mark" href="~/Productos/Agregar">
        <h1>Nuevo Producto...</h1>
        <h2></h2>
        <h2></h2>
        <h2></h2>
        <div class="image">
            <img src="../images/addb.png" />
        </div>
        <h2></h2>
        <h2></h2>
        <div class="botones">
            <img src="../images/add.png" />
        </div>
    </a>


    <div class="card">
        <h1>Lima</h1>
        <h2>Tipo: Cítricos</h2>
        <h2>Unidad de Medida: Kilo</h2>
        <h2>Precio: $ 25.90</h2>
        <h2 title="Es el más ácido de todos los cítricos, de hecho, casi el 8% de su peso es ácido cítrico.">Descripción: Es el más ácido de todos los cítricos, de hecho, casi el...</h2>
        <div class="image">
            <img src="../img_frutas/23.jpg" />
        </div>
        <div class="botones">
            <a href="~/Productos/Editar" class="btnEditar"></a>
            <a href="~/Productos/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Lima</h1>
        <h2>Tipo: Cítricos</h2>
        <h2>Unidad de Medida: Kilo</h2>
        <h2>Precio: $ 25.90</h2>
        <h2 title="Es el más ácido de todos los cítricos, de hecho, casi el 8% de su peso es ácido cítrico.">Descripción: Es el más ácido de todos los cítricos, de hecho, casi el...</h2>
        <div class="image">
            <img src="../img_frutas/23.jpg" />
        </div>
        <div class="botones">
            <a href="~/Productos/Editar" class="btnEditar"></a>
            <a href="~/Productos/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Lima</h1>
        <h2>Tipo: Cítricos</h2>
        <h2>Unidad de Medida: Kilo</h2>
        <h2>Precio: $ 25.90</h2>
        <h2 title="Es el más ácido de todos los cítricos, de hecho, casi el 8% de su peso es ácido cítrico.">Descripción: Es el más ácido de todos los cítricos, de hecho, casi el...</h2>
        <div class="image">
            <img src="../img_frutas/23.jpg" />
        </div>
        <div class="botones">
            <a href="~/Productos/Editar" class="btnEditar"></a>
            <a href="~/Productos/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Lima</h1>
        <h2>Tipo: Cítricos</h2>
        <h2>Unidad de Medida: Kilo</h2>
        <h2>Precio: $ 25.90</h2>
        <h2 title="Es el más ácido de todos los cítricos, de hecho, casi el 8% de su peso es ácido cítrico.">Descripción: Es el más ácido de todos los cítricos, de hecho, casi el...</h2>
        <div class="image">
            <img src="../img_frutas/23.jpg" />
        </div>
        <div class="botones">
            <a href="~/Productos/Editar" class="btnEditar"></a>
            <a href="~/Productos/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Lima</h1>
        <h2>Tipo: Cítricos</h2>
        <h2>Unidad de Medida: Kilo</h2>
        <h2>Precio: $ 25.90</h2>
        <h2 title="Es el más ácido de todos los cítricos, de hecho, casi el 8% de su peso es ácido cítrico.">Descripción: Es el más ácido de todos los cítricos, de hecho, casi el...</h2>
        <div class="image">
            <img src="../img_frutas/23.jpg" />
        </div>
        <div class="botones">
            <a href="~/Productos/Editar" class="btnEditar"></a>
            <a href="~/Productos/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Lima</h1>
        <h2>Tipo: Cítricos</h2>
        <h2>Unidad de Medida: Kilo</h2>
        <h2>Precio: $ 25.90</h2>
        <h2 title="Es el más ácido de todos los cítricos, de hecho, casi el 8% de su peso es ácido cítrico.">Descripción: Es el más ácido de todos los cítricos, de hecho, casi el...</h2>
        <div class="image">
            <img src="../img_frutas/23.jpg" />
        </div>
        <div class="botones">
            <a href="~/Productos/Editar" class="btnEditar"></a>
            <a href="~/Productos/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Lima</h1>
        <h2>Tipo: Cítricos</h2>
        <h2>Unidad de Medida: Kilo</h2>
        <h2>Precio: $ 25.90</h2>
        <h2 title="Es el más ácido de todos los cítricos, de hecho, casi el 8% de su peso es ácido cítrico.">Descripción: Es el más ácido de todos los cítricos, de hecho, casi el...</h2>
        <div class="image">
            <img src="../img_frutas/23.jpg" />
        </div>
        <div class="botones">
            <a href="~/Productos/Editar" class="btnEditar"></a>
            <a href="~/Productos/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Lima</h1>
        <h2>Tipo: Cítricos</h2>
        <h2>Unidad de Medida: Kilo</h2>
        <h2>Precio: $ 25.90</h2>
        <h2 title="Es el más ácido de todos los cítricos, de hecho, casi el 8% de su peso es ácido cítrico.">Descripción: Es el más ácido de todos los cítricos, de hecho, casi el...</h2>
        <div class="image">
            <img src="../img_frutas/23.jpg" />
        </div>
        <div class="botones">
            <a href="~/Productos/Editar" class="btnEditar"></a>
            <a href="~/Productos/Eliminar" class="btnBorrar"></a>
        </div>
    </div>
    <div class="card">
        <h1>Lima</h1>
        <h2>Tipo: Cítricos</h2>
        <h2>Unidad de Medida: Kilo</h2>
        <h2>Precio: $ 25.90</h2>
        <h2 title="Es el más ácido de todos los cítricos, de hecho, casi el 8% de su peso es ácido cítrico.">Descripción: Es el más ácido de todos los cítricos, de hecho, casi el...</h2>
        <div class="image">
            <img src="../img_frutas/23.jpg" />
        </div>
        <div class="botones">
            <a href="~/Productos/Editar" class="btnEditar"></a>
            <a href="~/Productos/Eliminar" class="btnBorrar"></a>
        </div>
    </div>



</section>