
@{
    Layout = "_Layout";
}

<h1>Eliminar Especies</h1>

<form>
    <label>Nombre:</label>
    <input type="text" readonly="readonly" />
    <label>Clase:</label>
    <input type="text" readonly="readonly" />
    <input type="hidden" />


    <input type="submit" value="Eliminar" />
    <a href="~/Admin/Home">
        <input type="button" value="Cancelar" />
    </a>
</form>


