@model ZooPlanet.Models.Especies
@{
    Layout = "_Layout";
}

<h1>Eliminar Especies</h1>

<form method="post" asp-action="Eliminar" asp-controller="Home" asp-area="Admin">
    <label>Nombre:</label>
    <input type="text" readonly="readonly"  asp-for="Especie"/>
    <label>Clase:</label>
    <input type="text" readonly="readonly" asp-for="IdClaseNavigation.Nombre" />
    <input type="hidden" asp-for="Id"/>


    <input type="submit" value="Eliminar" />
    <a href="~/Admin/Home">
        <input type="button" value="Cancelar" />
    </a>
</form>


