@model ZooPlanet.Models.ViewModels.EspecieViewModel

@{
    Layout = "_Layout";
}

<h1>Agregar imagen a especie</h1>

<form method="post" asp-action="Imagen" asp-controller="Home" asp-area="Admin" enctype="multipart/form-data">
    <input type="hidden" asp-for="Especies.Id" />
    <label>Nombre:</label>
    <input type="text" readonly asp-for="Especies.Especie"/>
    <label>Imagen:</label>
    <input id="fileUpload1" required type="file" accept="image/jpg" asp-for="Archivo" onchange="mostrarImagen(this)" />

    <img id="imagePreview" src="~/especies/@Model.Imagen" height="100" />

    <p class="error">* Es posible que la imagen anterior permanezca guardada en cache por el navegador.</p>



    <input type="submit" value="Guardar" />
    <a href="~/Admin/Home">
        <input type="button" value="Cancelar" />
    </a>
</form>

<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("imagePreview").src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>

