@inject Actividad1_FruitStore.Services.CategoriasService servicio
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FruitStore - La mejor fruteria de la Web</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <nav>
        <a href="~/Home">Principal</a>
        @foreach (var item in servicio.Categorias)
        {
            <a href="~/Home/@item.Nombre">@item.Nombre</a>
        }

    </nav>
    <main>
        @RenderBody()
    </main>
</body>
</html>