
@{
    Layout = "_Layout";
}

<h1>Agregar Especies</h1>

<form method="post">
    <label>Nombre:</label>
    <input required />@{
        Layout = "_Layout";
    }
    <label>Clase:</label>
    <select required>
        <option value="">Seleccione una clase</option>
    </select>
    <label>Habitat:</label>
    <input required />
    <label>Peso:</label>
    <input type="number" step="0.1" />
    <label>Tamaño:</label>
    <input step="0.1" />
    <label>Observaciones:</label>
    <textarea></textarea>

    <input type="submit" value="Agregar" />
    <a href="~/Administrador">
        <input type="button" value="Cancelar" />
    </a>
</form>