@{
	Layout = "_Layout";
}

<h1>Lista de Especies</h1>

<table>
    <colgroup>
        <col style="width:50px" />
        <col style="width:40px" />
        <col  />
        <col style="width:50%" />
    </colgroup>
    <caption>
        <a href="~/Administrador/Agregar"><i class="fa fa-plus"></i> Agregar Especie</a>
    </caption>
    <thead>
        <tr>
            <th>#</th>
            <th colspan="2">Especie</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="center">1</td>
            <td style="width:40px"><img src="/clases/1.png"></td>
            <td>Águila real</td>
            <td class="center">
                <a href="/Administrador/Editar/1"><i class="fa fa-edit"></i> Editar</a>
                <a href="/Administrador/Eliminar/1"><i class="fa fa-remove"></i> Eliminar</a>
                <a href="/Administrador/Imagen/1"><i class="fa fa-image"></i> Imagen</a>
            </td>
        </tr>
        <tr>
            <td class="center">2</td>
            <td style="width:40px"><img src="/clases/1.png"></td>
            <td>Águila real</td>
            <td class="center">
                <a href="/Administrador/Editar/1"><i class="fa fa-edit"></i> Editar</a>
                <a href="/Administrador/Eliminar/1"><i class="fa fa-remove"></i> Eliminar</a>
                <a href="/Administrador/Imagen/1"><i class="fa fa-image"></i> Imagen</a>
            </td>
        </tr>
        <tr>
            <td class="center">3</td>
            <td style="width:40px"><img src="/clases/1.png"></td>
            <td>Águila real</td>
            <td class="center">
                <a href="/Administrador/Editar/1"><i class="fa fa-edit"></i> Editar</a>
                <a href="/Administrador/Eliminar/1"><i class="fa fa-remove"></i> Eliminar</a>
                <a href="/Administrador/Imagen/1"><i class="fa fa-image"></i> Imagen</a>
            </td>
        </tr>
    </tbody>
</table>

