<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FruitStore - La mejor fruteria de la Web</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <nav>
        <a href="~/Admin">Principal</a>
        <a href="~/Categorias">Administrar Categorias</a>
        <a href="~/Productos">Administrar Productos</a>
    </nav>
    <main>
        @RenderBody()
    </main>
</body>
</html>
