
@{
    Layout = "_LayoutAdmin";
}

<h1>Administrar Categorias</h1>

<section class="listado">

    <a class="mark" href="~/Categorias/Agregar">
        <h1>Nueva Categoria...</h1>
        <div class="botones">
            <img src="../images/add.png" />
        </div>
    </a>

    <div class="card">
        <h1>Cítricos</h1>

        <div class="botones">
            <a href="~/Categorias/Editar" class="btnEditar"></a>
            <a href="~/Categorias/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Cítricos</h1>

        <div class="botones">
            <a href="~/Categorias/Editar" class="btnEditar"></a>
            <a href="~/Categorias/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Cítricos</h1>

        <div class="botones">
            <a href="~/Categorias/Editar" class="btnEditar"></a>
            <a href="~/Categorias/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Cítricos</h1>

        <div class="botones">
            <a href="~/Categorias/Editar" class="btnEditar"></a>
            <a href="~/Categorias/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Cítricos</h1>

        <div class="botones">
            <a href="~/Categorias/Editar" class="btnEditar"></a>
            <a href="~/Categorias/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Cítricos</h1>

        <div class="botones">
            <a href="~/Categorias/Editar" class="btnEditar"></a>
            <a href="~/Categorias/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Cítricos</h1>

        <div class="botones">
            <a href="~/Categorias/Editar" class="btnEditar"></a>
            <a href="~/Categorias/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Cítricos</h1>

        <div class="botones">
            <a href="~/Categorias/Editar" class="btnEditar"></a>
            <a href="~/Categorias/Eliminar" class="btnBorrar"></a>
        </div>
    </div>

    <div class="card">
        <h1>Cítricos</h1>

        <div class="botones">
            <a href="~/Categorias/Editar" class="btnEditar"></a>
            <a href="~/Categorias/Eliminar" class="btnBorrar"></a>
        </div>
    </div>
</section>
